<div class="container">
    <nav class="navbar bg-primary navbar-expand-lg  " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SISTEMA WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/atualizar">Cadastrar</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Consultar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="mb-3">
        <h6> Cadastrar - Agendamento de Potenciais Clientes</h6>
        <h7> Sistema Utilizado para agendamento de serviços <h7>

    </div>
    <table class="table bg-primary">
        <thead class="bg-primary">
          
            <tr class="bg-primary">
                <th class="bg-primary" scope="col">Nome</th>
                <th  class="bg-primary"scope="col">Telefone</th>
                <th class="bg-primary"scope="col">Origem</th>
                <th class="bg-primary" scope="col">Data de Contato</th>
                <th class="bg-primary" scope="col">Observação</th>
            </tr>
     
        </thead class="bg-primary">
        <tbody class="bg-primary">
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
        </tbody class="bg-primary">
    </table>
</div>